.card {
  background-color: var(--mantine-color-body);
}

.imageCol {
  height: 200px;
}

.title {
  font-weight: bold;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.2;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--mantine-spacing-md);
  box-shadow: #00000055 0 0 10px 2px;
}