.card {
  background-color: var(--mantine-color-body);
}

.imageCol {
  height: 200px;
  overflow: hidden
}

.title {
  font-weight: bold;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.2;
}

.body {
  padding: var(--mantine-spacing-md);
}