.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
  padding: 6rem;
  height: calc(100% - rem(56px));

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 2rem;
    justify-content: start;
  }
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.logo {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;

  @mixin dark {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
