.main {
  height: calc(100% - rem(56px));

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 2rem;
  }
}

.card {
  background-color: var(--mantine-color-body);
}

.titleText {
  font-weight: bold;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.2;
}

.buffBkg {
  background-size: 500px;
  background-image: url(/pattern2_light.svg);
  
  @mixin dark { 
    background-image: url(/pattern2_dark.svg);
  }
}

.rentBkg {
  background-size: 220px;
  background-image: url(/pattern_light.svg);

  @mixin dark { 
    background-image: url(/pattern_dark.svg);
  }
}