.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  height: calc(100vh - rem(56px));

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 2rem;
    justify-content: st;
  }
}

.logo {
  position: relative;

  @media (prefers-color-scheme: dark) {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
